<div class="max-w-2xl container mx-auto pt-5">
    <h1 class="font-bold mb-2 text-center text-lg">{{title}}</h1>
    <div class="py-4 px-6 border rounded items-center flex-col mb-2">
        <div class="mb-2">
            Дата:
            <input [(ngModel)]="enterMessage.dateTime" placeholder="Введите дату" />
        </div>
        <div class="mb-2">
            Сообщение:
            <input [(ngModel)]="enterMessage.message" placeholder="Введите сообщение" />
        </div>
        <button *ngIf="enterMessage.dateTime && enterMessage.message" 
        class="border py-2 px-4 rounded bg-slate-400" 
        (click)="updateEnterMessage(enterMessage)">Зашифровать</button>
    </div>    
    <p>Список зашифрованных сообщений:</p>
    <table>
        <thead>
            <th>Дата</th>
            <th>Сообщение</th>
        </thead>
        <tbody *ngFor="let message of encodedMessages">
            <td>{{message.dateTime}}</td>
            <td>{{message.message}}</td>
        </tbody>
    </table>       
</div>

